# Pr√°ctico 1

[Enunciado](https://github.com/DiploDatos/AprendizajeProfundo/blob/master/Practico.md) del trabajo pr√°ctico.

Implementaci√≥n de red neuronal [Perceptr√≥n Multicapa](https://en.wikipedia.org/wiki/Multilayer_perceptron) (MLP).

## Integrantes
- Mauricio Caggia
- Luciano Monforte
- Gustavo Venchiarutti
- Guillermo Robiglio

## Importaciones

In [17]:
import pandas as pd
import numpy as np

## Constantes

In [2]:
SET_DE_ENTRENAMIENTO = './data/meli-challenge-2019/spanish.train.jsonl.gz'
SET_DE_PRUEBA = './data/meli-challenge-2019/spanish.test.jsonl.gz'
SET_DE_VALIDACION = './data/meli-challenge-2019/spanish.validation.jsonl.gz'

## Carga de datos

In [29]:
file_paths = [SET_DE_ENTRENAMIENTO, # Ingresar opci√≥n 0 üëÅ ‚ö† Puede que haya un desbordamiento de RAM ‚ö†
              SET_DE_PRUEBA,  # Ingresar opci√≥n 1
              SET_DE_VALIDACION, # Ingresar opci√≥n 2
              './data/meli-challenge-2019/spanish_token_to_index.json.gz'] # Ingresar opci√≥n 3
i = int(input('Ingresar opci√≥n para carga de archivo (0 a 3): '))
df = pd.read_json(path_or_buf=file_paths[i], lines=True)

Ingresar opci√≥n para carga de archivo (0 a 3): 3

## An√°lisis y visualizaci√≥n de los datos

El **set de entrenamiento** original tiene 4895280 registros y 10 columnas. Las columnas de dicho dataset son:
- **language**: El idioma del dataset (espa√±or o portugu√©s). En el trabajo pr√°ctico utilizaremos solamente el dataset es espa√±ol.
- **label_quality**: Calidad de la etiqueta (confiable o no confiable). Se dispone de 4508043 registros no confiables y 387237 registros confiables.
- **title**: El t√≠tulo que se asign√≥ al producto.
- **category**: La categor√≠a que se asign√≥ al producto.
- **split**: El tipo de dataset. _train_ para el set de entrenamiento.
- **tokenized_title**: El t√≠tulo tokenizado. Esto significa que los datos fueron preprocesados.
- **data**: El n√∫mero asignado a cada palabra del t√≠tulo tokenizado. Esta informaci√≥n es la que se utilizar√° para entrenar el modelo.
- **target**: El n√∫mero que corresponde a cada categor√≠a.
- n_labels
- **size**: La cantidad de registros. 4895280 registros para el caso del set de entrenamiento.

El **set de prueba** original tiene 63680 registros con valores no nulos y 10 columnas. Las columnas de dicho dataset son:
- **language**: El idioma del dataset (espa√±or o portugu√©s). En el trabajo pr√°ctico utilizaremos solamente el dataset es espa√±ol.
- **label_quality**: Calidad de la etiqueta (confiable o no confiable). Todas las etiquetas de este dataset son confiables.
- **title**: El t√≠tulo que se asign√≥ al producto.
- **category**: La categor√≠a que se asign√≥ al producto.
- **split**: El tipo de dataset. _test_ para el set de prueba.
- **tokenized_title**: El t√≠tulo tokenizado. Esto significa que los datos fueron preprocesados.
- **data**: El n√∫mero asignado a cada palabra del t√≠tulo tokenizado. Esta informaci√≥n es la que se utilizar√° para entrenar el modelo.
- **target**: El n√∫mero que corresponde a cada categor√≠a.
- **n_labels**: Cantidad de etiquetas num√©ticas correspondientes a las distintas categor√≠as. 632 etiquetas (0 a 631) para el caso del set de prueba.
- **size**: La cantidad de registros. 63680 registros para el caso del set de prueba.

El **set de validaci√≥n** original tiene 1223820 registros con valores no nulos y 10 columnas. Las columnas de dicho dataset son:
- **language**: El idioma del dataset (espa√±or o portugu√©s). En el trabajo pr√°ctico utilizaremos solamente el dataset es espa√±ol.
- **label_quality**: Calidad de la etiqueta (confiable o no confiable). Se dispone de 1127189 registros no confiables y 96631 registros confiables.
- **title**: El t√≠tulo que se asign√≥ al producto.
- **category**: La categor√≠a que se asign√≥ al producto.
- **split**: El tipo de dataset. _validation_ para el set de prueba.
- **tokenized_title**: El t√≠tulo tokenizado. Esto significa que los datos fueron preprocesados.
- **data**: El n√∫mero asignado a cada palabra del t√≠tulo tokenizado. Esta informaci√≥n es la que se utilizar√° para entrenar el modelo.
- **target**: El n√∫mero que corresponde a cada categor√≠a.
- **n_labels**: Cantidad de etiquetas num√©ticas correspondientes a las distintas categor√≠as. 632 etiquetas (0 a 631) para el caso del set de prueba.
- **size**: La cantidad de registros. 1223820 registros para el caso del set de validaci√≥n.

El archivo **spanish_token_to_index** tiene las 50002 correspondencias que existen entre las palabras tokenizadas del t√≠tulo y las etiquetas num√©ricas bajo la colimna data en los sets de entrenamiento, prueba y validaci√≥n.

In [30]:
df.head()

,barbies,casita,mu√±ecas,pintadas,cromado,hologr√°fico,neceser,asiento,chevrolet,funda,...,chorros,budad√°,c√°p,sebium,hlertfx,promix,acrilab,galapagos,[PAD],[UNK]
0,50000,50001,2,3,4,5,6,7,8,9,...,49992,49993,49994,49995,49996,49997,49998,49999,0,1

In [24]:
df.columns

Index(['language', 'label_quality', 'title', 'category', 'split',
       'tokenized_title', 'data', 'target', 'n_labels', 'size'],
      dtype='object')

In [31]:
df.shape

(1, 50002)

In [25]:
# df.language.value_counts()
df.label_quality.value_counts()

unreliable    1127189
reliable        96631
Name: label_quality, dtype: int64

In [26]:
df.isnull().sum()

language           0
label_quality      0
title              0
category           0
split              0
tokenized_title    0
data               0
target             0
n_labels           0
size               0
dtype: int64

In [27]:
labels = df.target.unique()
print(f'{labels.shape[0]} etiquetas ordenadas como se muestra a continuaci√≥n:')
np.sort(labels)

632 etiquetas ordenadas como se muestra a continuaci√≥n:

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631])